*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: blueviolet;
}

:root{
    --main-color: #0A031B;
}
body, html{
    background-color: #0A031B;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    scroll-behavior: smooth;
    transition: 1s all;
}

.isOpen{
    font-size: 12px;
    padding: 2px 3px;
    margin: 0 10px;
}

.aberto{
    color: rgb(0, 255, 85);
    border: 1px rgb(0, 255, 85) solid;
}
.fechado{
    color: rgb(255, 0, 0);
    border: 1px rgb(255, 0, 0) solid;
}

header .rolagem{
    background-color: red;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
    background-color: #0A031B;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: 0.6s all;
}

header .logo img{
    width: 70px;
}

header .navegation nav ul{
    display: flex;
}

header .navegation nav ul li{
    list-style: none;
}
header .navegation nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 22px;
    margin: 0 14px;
}
header .navegation nav ul li a:hover{
    color: blueviolet;
}

main{
    margin-top: 100px;
}
main .leftMain h1{
    font-family: 'Imperial Script', cursive;
    font-size: 120px;
    color: white;
    margin-left: 100px;
} 
.leftMain{
    width: calc(100% / 2);
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .rightMain{
    width: calc(100% / 2);
    height: 500px;
    overflow: hidden;
}
.container .rightMain img{
    object-fit: cover;
}

.salao{
    background-color: white;
    min-height: 450px;
}

.salao h1{
    font-family: 'Imperial Script', cursive;
    font-size: 60px;
    color: var(--main-color);
    padding: 15px 80px;
    transition: 1s;
}

.categorias{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.categoria{
    transition: 3s;
    margin: 0 100px;
    text-align: center;
}
.categoria h3{
    margin-top: 3px;
}

.categoria .icone{
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 1px 5px 2px rgba(0, 0, 0, 0.232);
    border-radius: 50%;
    padding: 5px;
    text-align: center;
}
.categoria .icone i{
    font-size: 20px;
}

.botao{
    text-align: center;
    margin-top: 50px;
}
.botao a{
    background-color: var(--main-color);
    padding: 10px 50px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

.loja{
    display: flex;
    align-items: center;
}

.loja .leftLoja{
    width: calc(100% / 2);
    overflow: hidden;
}
.loja .leftLoja img{
    width: 100%;
    object-fit: cover;
}
.loja .rightLoja{
    width: calc(100% / 2);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.rightLojaContainer{
    text-align: center;
}
.rightLojaContainer h1{
    font-family: 'Imperial Script', cursive;
    font-size: 120px;
    margin-bottom: 20px;
}
.rightLojaContainer a{
    text-decoration: none;
    font-size: 22px;
    padding: 10px 25px;
    font-weight: 900;
    border-radius: 10px;
    color: var(--main-color);
    background-color: white;
}

/* MOBILE */
.navegationMobile{
    display: none;
    text-align: center;
}
.navegationMobile nav ul li{
    list-style: none;
}

.navegationMobile nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 10px;
}
.menu{
    display: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}


@media screen and (max-width: 900px) {
    header{
        padding: 20px 30px;
    }
    .navegation{
        display: none;
    }
    .menu{
        display: block;
    }
    main{
        margin-top: 200px;
    }
    main .leftMain h1{
        font-size: 70px;
        text-align: center;
        color: white;
        margin-left: 0px;
        margin-bottom: 10px;
    } 
    .salao{
        text-align: center;
        margin-top: 320px;
        margin-bottom: -220px;
    }
    .leftMain{
        width: calc(100%);
    }
    .container{
        display: block;
    }
    
    .container .rightMain{
        width: 100%;
        margin-bottom: -330px;
    }
    .container .rightMain img{
        width: 100%;
    }
    .categoria{
        margin: 0 30px;
    }
    .categoria h3{
        font-size: 12px;
    }

    .categoria .icone{
        width: 60px;
        height: 60px;
        font-size: 20px;
    }

    .loja{
        margin-top: 200px;
        margin-bottom: 100px;
        display: block;
        text-align: center;
    }
    .loja .leftLoja{
        width: 100%;
    }

    .loja .rightLoja{
        width: 100%;
    }
    .rightLojaContainer h1{
        font-size: 50px;
    }
    .rightLojaContainer a{
        padding: 10px;
        font-size: 15px;
    }
}




