*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    font-family: 'Inter', sans-serif;
    background-color: #0A031B;
}

header{
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

header .logo img{
    width: 80px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container_01{
    display: none;
    background-color: rgba(255, 255, 255, 0.658);
    backdrop-filter: blur(10px);
    padding: 40px 20px;
    border-radius: 10px;
    text-align: center;
}

.ativado{
    display: block !important;
}
select{
    margin: 10px 0;
    width: 200px;
    height: 30px;
    border: 1px blueviolet solid;
    border-radius: 5px;
}
select:focus{
    outline: blueviolet 2px solid;
}

.container_01 button{
    width: 100px;
    height: 30px;
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}



.container_02{
    display: none;
    background-color: rgba(255, 255, 255, 0.658);
    backdrop-filter: blur(10px);
    padding: 40px 20px;
    border-radius: 10px;
    text-align: center;
}

select{
    margin: 10px 0;
    width: 200px;
    height: 30px;
    border: 1px blueviolet solid;
    border-radius: 5px;
}
select:focus{
    outline: blueviolet 2px solid;
}

.container_02 button{
    width: 100px;
    height: 30px;
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


.container_03{
    display: none;
    background-color: rgba(255, 255, 255, 0.658);
    backdrop-filter: blur(10px);
    padding: 40px 20px;
    border-radius: 10px;
    text-align: center;
}

select{
    margin: 10px 0;
    width: 200px;
    height: 30px;
    border: 1px blueviolet solid;
    border-radius: 5px;
}
select:focus{
    outline: blueviolet 2px solid;
}

.container_03 a{
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 4px;
    text-decoration: none;
}

